* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    padding: 8.8rem 8rem;
    background-color: var(--background-default);
}

img {
    width: 100%;
}

strong {
    color: var(--text-headline);
    text-transform: uppercase;
}

h1 {
    font-size: 3.6rem;
    margin-block: 8.8rem 4.4rem;
}

h2 {
    font-size: 3.2rem;
    margin-block: 8.2rem 0.8rem;
}